<header>
    <div class="main-header container">
        <a href="/" class="logo"><img src="/images/logo.svg" alt="logo"></a> 
        <nav>
            <%if(!locals.user) {%>
                <a href="/" class="<%= title === 'Homepage' ? 'active' : ''%>">Home</a>
                <a href="/blogs" class="<%= title === 'All blogs' ? 'active' : ''%>">Recipes</a>
                <a href="/login" class="<%= title === 'Sign in' ? 'active' : ''%>">Sign In/Register</a>
            <%} else {%>
                <a href="/" class="<%= title === 'Homepage' ? 'active' : ''%>">Home</a>
                <a href="/my-blogs" class="<%= title === 'All blogs' ? 'active' : ''%>">My Recipes</a>
                <a href="/profile" class="<%= title === 'Profile' ? 'active' : ''%>"><%=user.username%> <img src="/images/profile-icon.svg" alt="Profile" class="profile"> </a>
            <%}%>
        </nav>
    </div>
</header>