<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>
  <body class="home">
    <%- include('./partials/header.ejs'); %>
    <main>
      <section class="left">
        <section class="hero-wrap">
          <div class="hero">
            <% const randomBlog = Math.floor(Math.random() * (3 - 0 + 1)) + 0 %>
            <article class="left">
              <picture>
                <img src="<%=blogs[randomBlog].image%>" alt="hero image" />
              </picture>
            </article>
            <article class="center">
              <span class="label">Dessert</span>
              <h2 class="title"><%=blogs[randomBlog].title%></h2>
              <div class="content">
                <p class="text">
                  <%=blogs[randomBlog].description%>
                </p>
                <p class="text">
                  
                </p>
                <a href="/blog/<%=blogs[randomBlog]._id%>" class="link"
                  >Try this recipe
                  <svg
                    width="20"
                    height="10"
                    viewBox="0 0 42 24"
                    fill="#EE6C4D"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M41.0607 13.0607C41.6464 12.4749 41.6464 11.5251 41.0607 10.9393L31.5147 1.3934C30.9289 0.807612 29.9792 0.807612 29.3934 1.3934C28.8076 1.97918 28.8076 2.92893 29.3934 3.51472L37.8787 12L29.3934 20.4853C28.8076 21.0711 28.8076 22.0208 29.3934 22.6066C29.9792 23.1924 30.9289 23.1924 31.5147 22.6066L41.0607 13.0607ZM0 13.5H40V10.5H0V13.5Z"
                      fill="#EE6C4D"
                    />
                  </svg>
                </a>
              </div>
              <div class="more-info">
                <p class="text">
                  <span><b>Rating:&nbsp;&nbsp;</b></span> <span> 4 / 5</span>
                </p>
                <p class="text">
                  <span>by</span> <span class="primary-color"><%=blogs[randomBlog].author_name%></span>
                </p>
              </div>
            </article>
          </div>
        </section>
        <section class="blogs">
          <h2 class="title"><span>Recipes</span></h2>
          <% if(blogs.length===0){ %>
          <ul class="card-wrap no-blog">
            <li class="card no-blog">
              <h3>No recipes to show</h3>
              <p>Create one <a href="/blog/create" class="link">here</a></p>
            </li>
          </ul>
          <% } else { %>
          <ul class="card-wrap">
            <% blogs.forEach((blog)=> { %>
            <li class="card">
              <picture>
                <img src="<%=blog.image%>" alt="recipe image" />
              </picture>
              <div class="content">
                <a href="/blog/<%=blog._id%>" class="link"
                  ><h3><%=blog.title%></h3></a
                >
                <div class="more-info">
                  <p class="text">
                    <span><b>Rating:&nbsp;&nbsp;</b></span> <span> 0 / 5</span>
                  </p>
                  <p class="text">
                    <span>by</span>
                    <span class="primary-color"><%=blog.author_name%></span>
                  </p>
                </div>
              </div>
            </li>
            <% }) %>
          </ul>
          <a href="/blogs" class="more-blogs btn btn-primary">View more</a>
          <% } %>
        </section>
      </section>
      <%- include('./partials/sidemenu.ejs'); %>
    </main>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
