<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>
  <body class="all-blogs">
    <%- include('../partials/header.ejs'); %>
      <main>
        <section class="left">
        <article class="poster">
            <picture>
                <img src="/images/food-recipe.jpg" alt="hero image" />
            </picture>
        </article>
          <section class="blogs">
            <h2 class="title"><span>My Recipes</span></h2>
            <!-- <div class="dropdown-wrap">
                <div class="dropdown"><span>All recipes</span></div>
                <ul class="dropdown-menu">
                    <li>All recipes</li>
                    <li>Desserts</li>
                    <li>Main course</li>
                </ul>
            </div> -->
            <div class="add-blog"><a href="/blog/create" class="btn btn-secondary">Add flog</a></div>
            <% if(blogs.length===0){ %>
              <ul class="card-wrap no-blog">
                <li class="card no-blog">
                  <h3>No recipes to show</h3>
                  <p>Create one <a href="/blog/create" class="link">here</a></p>
                </li>
              </ul>
            <% } else { %> 
              <ul class="card-wrap">
                <% blogs.forEach((blog)=> { %>
                <li class="card">
                  <picture>
                    <img src="<%=blog.image%>" alt="recipe image" />
                  </picture>
                  <div class="content">
                    <a href="/blog/<%=blog._id%>" class="link"
                      ><h3><%=blog.title%></h3></a
                    >
                    <div class="more-info">
                      <p class="text">
                        <span><b>Rating:&nbsp;&nbsp;</b></span> <span> 0 / 5</span>
                      </p>
                      <p class="text">
                        <span>by</span> <span class="primary-color"><%=blog.author_name%></span>
                      </p>
                    </div>
                  </div>
                </li><% }) %>
              </ul>
             <% } %>
          </section>
        </section>
        <%- include('../partials/sidemenu.ejs'); %>
      </main>
      <%- include('../partials/footer.ejs'); %>
  </body>

</html>